[submodule "lib/open.mp-sdk"]
	path = lib/open.mp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk.git
[submodule "lib/samp-ptl"]
	path = lib/samp-ptl
	url = https://github.com/katursis/samp-ptl.git
[submodule "lib/cpptoml"]
	path = lib/cpptoml
	url = https://github.com/skystrife/cpptoml.git
